body {
  background-color: black;
}


.terminal_win { 
  background-color: rgb(61, 60, 60);
  text-align: left;
  position: relative;
  border-radius: 5px;
  border-color: #11a30c;
  border-style: solid;
  width: 500px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.terminal_win header {
  background: #fff;
  background-color: #11a30c;
  border-radius: 3px 3px 0 0;
  border-color: #044b02;
  cursor: move;
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  
}

.terminal_win section.terminal {
  color: #11a30c;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", monospace;
  font-size: 11pt;
  background: #000000;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;

}

.prompt {
  white-space: pre-wrap;
}

.underscore {
  background: none;       
  border: none;
  font-size: 30px;
  text-align: right;
  margin-left: auto;       
}
.underscore:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.emoji-btn {
  background: none;       
  border: none;
  font-size: 30px;
  text-align: right;         
}

.emoji-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.emoji-btn2 {
  background: none;       
  border: none;
  font-size: 20px;
  text-align: right;       
}
.emoji-btn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
